<br>
<br>
<div class="container">
  <div class="well">
    <h1>Welcome <%= @user.username %>! <%= link_to "Add New Stamp", new_stamp_path, class:'btn btn-success' %></h1>
    <p>Here are your stamps!</p>
    <% @stamps.each do |stamp| %>
      <%= stamp.name %>
    <% end %>
  </div>
<%= link_to 'Logout', '/', class:"btn btn-default" %>
</div>

