<div class="jumbotron stamps">
  <div class="container">
    <div class="row">
      <br>
    </div>
  </div>
  <div class="well">
    <div class="container">
      <h3 id="title">The Postal Network makes it easy to catalog your stamp collection</h3>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 well">
      <h4 class="light-font centered">Stamp collecting has been a global hobby ever since the very first Penny Black was issued in 1840. Since then, countries have used postage to facilitate sending mail as well as express their national identity, culture, and heritage.</h4>
      <span class="centered"><%= link_to "Get started", new_user_registration_path, :class => 'btn btn-success'  %></span>
    </div>
    <div class="col-sm-12 col-lg-4 col-lg-offset-2">
      <%= image_tag("stamps1.jpg") %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-lg-4 col-lg-offset-2">
      <%= image_tag("stamps5.jpg")%>
    </div>
    <div class="col-sm-12 col-lg-6 well">
      <h4 class="light-font centered">When you open a stamp collection, you're not simply looking at paper used to signify the payment of postage. You're stepping into an art gallery, seeing an anthropology exhibit, learning what and whom societies throughout history value.</h4>
    </div>
  </div>
</div>



