<div class="jumbotron stamps">
  <div class="container">
    <div class="row">
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="container">
    <div class="well">
      <h3 id="title">MNH makes it easy to manage your stamp collection.</h3>
      <button id="title" class="btn btn-success btn-lg">Sign Up</button>
      <button class="btn btn-lg btn-primary">Sign In</button>
    </div>
  </div>
</div>



